a, b, strong, h1, h2, address { color: inherit; font-style:inherit; font:inherit; font-weight: inherit; text-decoration: inherit; margin: 0; }
body { background: hsla(180, 2%, 19%, 1); color: hsla(0, 0%, 100%, 0.88); margin: 0; padding:0;}
body, pre { font: 21px/25px "AvenirNext-Medium", "Consolas", "Courier New", monospace; }

/*html { background: hsla(180, 2%, 11%, 1); }*/
body {  }

body > article { max-width: 1600px; margin: auto; }


#guitars article { float:left; }

#misc article:only-child { width:44%; margin:auto; }
#misc article { width:50%; float:left; }

body.portrait #guitars article {
  width: 100%;
}

body.landscape #guitars article {
  width: 50%;
}

#sold h2 { text-align: center;}

#windows {  overflow:hidden; position:relative; background:#444; border: 25px solid #444; width: auto;}
#windows .layout { margin:50px 0 auto; }
#windows h2 { margin: 0 auto;}
a.window { display:block; float:left; overflow:hidden; box-shadow: 0px 0px 10px black; position:relative; }
a.window { transform: scale(0.88); transition: all 222ms; }
a.window:hover { transform: scale(1.00); }
a.window img { width: 100%; }

pre { display: block; white-space: pre-wrap; margin: 25px auto; padding: 0; box-sizing: border-box; max-width: 960px; }

#appointment a[href] { text-decoration: underline; color: hsla(160, 66%, 66%, 1);}

body > #root { text-align: center; padding: 25px;}

body > article > header { text-align: center; padding: 0 25px 25px;}

h2 { opacity: 0.5; margin: 75px auto 0; max-width: 960px;}

#floorturtle { max-width: 960px; margin: auto;}

figure { overflow:hidden; position: relative; display:block;  margin:auto; }
figure > img { position: relative; display: block; width:100%; }

#cover { overflow:hidden; position: relative; }
#cover div.price { position: absolute; top: -0.88em; left: +0.88em; transform: rotate(-3deg);}

div.price { height: 3.3em; width: 3.3em; line-height: 3.3em; border-radius: 10em; vertical-align: bottom; text-align: center; font-size: 444%; letter-spacing: -0.2ex; overflow:hidden; box-shadow: 0 0 10px black;}
div.price * {vertical-align: middle;}
div.price big a { font-size: 44%; font-weight: 200; opacity: 0.44;}
div.price big b { font-weight: 600; letter-spacing: -0.2ex; position:relative; top: 0.22ex;}
div.price small { line-height: 33%; font-size: 44%; font-weight: 200; opacity: 0.44; letter-spacing: -0.1ex; margin-left: 0.22ex; }
div.price small a { font-size: 0%; }
div.price small b { text-decoration: underline; }
