a, b, strong, h1, h2, h3, h4, address, figure { color: inherit; font-style:inherit; font:inherit; font-weight: inherit; text-decoration: inherit; margin: 0; }
body { background: hsla(180, 2%, 19%, 1); color: hsla(0, 0%, 100%, 0.88); margin: 0; padding:0;}
body, pre { font: 21px/25px "AvenirNext-Medium", "Consolas", "Courier New", monospace; }

html { min-width: 900px; }

body > #root { text-align: center; padding: 25px;}

body > article { max-width: 1600px; margin: auto; }

body > article > header { text-align: center; padding: 0 25px 25px;}


section { margin:0; position: relative; padding: 0; overflow:hidden; }
article { margin:0; position: relative; padding: 0; overflow:hidden;  }

h2 { opacity: 0.5; margin:auto; max-width: 960px; padding: 25px 25px 0; box-sizing: border-box; }

pre { display: block; white-space: pre-wrap; margin:auto; padding: 25px; box-sizing: border-box; max-width: 960px; }

figure { overflow:hidden; position: relative; display:block; margin:auto; }
figure > img { position: relative; display: block; width:100%; float:left; }

#guitars article { float:left; }
body.portrait #guitars article { width: 100%; }
body.landscape #guitars article { width: 50%; }

#misc { margin-top: -25px;}
#misc article { float:left; }

body.portrait #misc article { width: 100%; }
/*body.landscape #misc article { width: 33.3%; }*/
body.landscape #misc article.forsale:only-child { width: 33.3%; margin:auto; float:none; transform: scale(0.88); transition: all 111ms ease-in; }
body.landscape #misc article.forsale:only-child:hover { transform: scale(1); transition: all 111ms ease-out;}

#information.windows {background:#444; }
#comparison.windows {background:#444; }

div.windows { padding: 15px 50px; overflow:hidden; position:relative; width: auto; }
div.windows div.layout { margin:auto; }
div.windows h2 { margin: 10px auto; color: hsla(0, 0%, 100%, 0.33); text-align: center;}

#remotes h2 { font-size: 0; line-height: 0;}
#remotes h3 { margin: 0 auto; color: hsla(0, 0%, 100%, 0.33);}

a.window { display:block; float:left; overflow:hidden; box-shadow: 0px 0px 10px black; position:relative; border-top: 5px solid hsl(0, 0%, 55%);}
a.window { transform: scale(0.88); transition: all 222ms; }

/*#remotes a.window:first-of-type { transform-origin: left bottom;}*/
#remotes { padding: 25px 50px;}
#remotes a.window { transform-origin: top center;}

#remotes figure { float:left; width: 50%; text-align: center;}
#remotes figure > a[href].window { width: 100%; max-width: auto;}

a.window:hover { transform: scale(0.99); }
a.window img { width: 100%; }




#cover { overflow:hidden; position: relative; }
#cover div.price { position: absolute; top: -0.88em; left: +0.88em; transform: rotate(-3deg);}

article div.price { position: absolute; border-radius: 10em; vertical-align: bottom; text-align: center; overflow:hidden; box-shadow: 0 0 10px black; letter-spacing: -0.2ex;}

div.price { height: 3.3em; width: 3.3em; line-height: 3.3em; font-size: 444%;  }

div.price * {vertical-align: middle;}
div.price big a { font-size: 44%; font-weight: 200; opacity: 0.44;}
div.price big b { font-weight: 700; letter-spacing: -0.2ex; position:relative; top: 0.22ex;}
div.price small { line-height: 33%; font-size: 44%; font-weight: 200; opacity: 0.44; letter-spacing: -0.1ex; margin-left: 0.22ex; }
div.price small a { font-size: 0%; }
div.price small b { text-decoration: underline; }

#sold h2 { text-align: center;}

#sold { background:url(/instruments/deepblue.svg); overflow:visible; padding: 0 0 50px; margin: 50px auto 0;}
#sold > header { background:repeat-x top url(/instruments/waves.svg); height: 50px; top: -50px; position:relative; margin-bottom: 25px;}
#sold .date { font-size: 50%;}
#sold .date:nth-of-type(odd) { transform:rotate(-2.22deg)translate(0px,-13px); }
#sold .date:nth-of-type(even) { transform:rotate(+2.22deg); }
#sold > header h2 { position: relative; top: 75px; }

article.sold { margin: auto; max-width: 960px; height: 300px; border-top: 2px solid hsla(360, 100%, 100%, 0.1); box-sizing: border-box;  transition: opacity 333ms linear; opacity: 0.55;}
article.sold:hover { opacity: 1;}
article.sold pre { margin-left: 33%; }
article.sold img {width: 33%; height:100%; object-fit: cover; position:absolute; left: 0; top:0; }

#prices { text-align: center;}
