a, b, strong, h1, h2, h3, h4, address, figure { color: inherit; font-style:inherit; font:inherit; font-weight: inherit; text-decoration: inherit; margin: 0; }
body, pre { font: 20px/25px "AvenirNext-Medium", "Corbel", sans-serif; }
section, article { margin:0; position: relative; padding: 0; }
h2 { opacity: 0.5; margin:auto; max-width: 750px; padding: 25px 25px 0; box-sizing: border-box; }
pre { display: block; white-space: pre-wrap; margin:auto; padding: 25px; box-sizing: border-box; max-width: 750px; }
body { background: hsla(180, 2%, 19%, 1); color: hsla(0, 0%, 100%, 0.88); margin: 0; padding:0;}

/* Index */

#parts { padding: 25px 0; }
#parts article { float:left; }

#prices { text-align: center; }
#amplifiers, #parts { overflow:hidden; }

body.landscape #guitars.solo    article { margin: auto; transform:scale(0.93) rotate(+2deg);}
body.landscape #amplifiers.solo article { margin: auto; transform:scale(0.93) rotate(-2deg);}

body.landscape #parts article { width: 33.3%; }

body.portrait  #guitars.solo article { width: 100%; }
body.landscape #guitars.solo article { width: 66%;  }

body.portrait  #amplifiers.solo article { width: 88%; }
body.landscape #amplifiers.solo article { width: 50%;  }

/* Article */

body > article { max-width: 1400px; margin: auto; }
body > article > header { text-align: center; padding: 0 25px 25px; }
body > article > header div { opacity: 0.5; }
body > article pre a[href] { color:hsl(50,88%,72%); text-decoration:underline; }

/* Article Advertisement */

article.forsale { box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.33); }
article.forsale a[href] { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display:block;}
article.forsale img { width: 100%; display:block;}
article.forsale header { position:absolute; top: 0; left: 0; right: 0; bottom: 0; margin:0; text-align:center;}
article.forsale > header .model { position:absolute; left: 0; right:0; bottom: 5%; color: black; }


/* Price Tags */

#cover img.price { position: absolute; top: -2.5%; left: 8%; width: 20%; display:block; transform: rotate(-3deg); }

article.forsale > header img.price { position: absolute; top: -6%; left: 3%; width: 33%; display:block; transform: rotate(-3deg); }

#guitars article.forsale > header img.price { top: -2.5%; left: 8%; width: 20%; }

/* Sales History */

#sold h2 { text-align: center;}
#sold { background:url(/instruments/deepblue.svg); overflow:visible; padding: 0 0 50px; margin: 50px auto 0;}
#sold > header { background:repeat-x top url(/instruments/waves.svg); height: 50px; top: -50px; position:relative; margin-bottom: 25px;}
#sold .date { font-size: 50%;}
#sold .date:nth-of-type(even) { transform:rotate(+2.22deg)translate(0px,-13px); }
#sold .date:nth-of-type(odd) { transform:rotate(-2.22deg); }
#sold > header h2 { position: relative; top: 75px; }

article.sold { margin: auto; max-width: 960px; height: 300px; border-top: 2px solid hsla(360, 100%, 100%, 0.1); box-sizing: border-box;  transition: opacity 333ms linear; opacity: 0.55;}
article.sold:hover { opacity: 1;}
article.sold pre { margin-left: 33%; }
article.sold img {width: 33%; height:100%; object-fit: cover; position:absolute; left: 0; top:0; }

/* Windows */

a.window:hover { transform: scale(0.99); }
a.window img { width: 100%; }

a.window { display:block; float:left; overflow:hidden; box-shadow: 0px 0px 10px black; position:relative; border-top: 9px solid hsl(0, 0%, 66%); border-top-left-radius: 3px; border-top-right-radius: 3px;}
a.window { transform: scale(0.88); transition: all 222ms; }

#information.windows {background:#444; }
#comparison.windows {background:#444; }

div.windows { padding: 15px 50px; overflow:hidden; position:relative; width: auto; }
div.windows div.layout { margin:auto; }
div.windows h2 { margin: 10px auto; color: hsla(0, 0%, 100%, 0.33); text-align: center;}

#remotes { padding: 25px 50px;}
#remotes h2 { font-size: 0; line-height: 0;}
#remotes h3 { margin: 0 auto; color: hsla(0, 0%, 100%, 0.33);}
#remotes a.window { transform-origin: top center;}
#remotes figure { float:left; width: 50%; text-align: center;}
#remotes figure > a[href].window { width: 100%; max-width: auto;}

/* Header and Footer */

body > header { text-align: center; padding: 25px; background: hsla(180, 2%, 25%, 1); }
body > footer { text-align: center; padding: 25px; }
body > header > h1 a { color:hsl(333,88%,72%); }
body > footer > h1 a { color:hsl(333,88%,72%); }
body:not(.root) > header > div { opacity:0.5; }
body:not(.root) > footer > div { opacity:0.5; }

body > header .waves { background: repeat-x bottom center url(/instruments/header.background.blue.png); position: absolute; bottom: 0; left: 0; width:100%; height: 25px;}
body:not(.root) > header { transition: all linear 222ms;}
body:not(.root) > header .slogan { transition: all linear 222ms;}
body > header { margin-bottom: 25px; overflow:hidden; position: relative;}
body:not(.root) > header .slogan { margin-top: 25px; opacity:0.5; color:inherit; }
body:not(.root) > header { height: 25px; padding-bottom: 25px;  }
body:not(.root) > header:hover { height: 75px;  }
body:not(.root) > header:hover .slogan { margin-top: 0px; opacity:0.5; color:inherit; }

/* Figures */

figure { overflow:hidden; position: relative; display:block; margin:auto; }
figure > img { position: relative; display: block; width:100%; float:left; }
figure.duo > img { width:50%; }


.remote.attributes { background: white; color: black; font-size: 10px; line-height:12.5px; padding: 25px; border-bottom: 1px solid black; }
.remote.attributes header { margin-bottom: 25px; }
.remote.attributes pre { font:inherit; margin: auto; max-width: none; padding: 0; margin-top: 25px;}
